:root {
    --amarelo: #ffda33;
    --branco: #f2f2f2;
    --marrom: #613a18;
    --azul-escuro: #120c30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-image: url("imagens/colmeia2.png");
    color: var(--marrom);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: var(--branco);
    padding: 40px;
    border-radius: 20px;
    border: solid 4px var(--amarelo);;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: var(--marrom);
    margin-bottom: 20px;
    text-align: center;
}

.form-pregunta {
    display: flex;
    flex-direction: column;
}

.form-pregunta label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-pregunta input,
.form-pregunta select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--marrom);
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
}

.form-pregunta input:focus,
.form-pregunta select:focus {
    outline: none;
    border-color: var(--amarelo);
}

.btn-cadastrar {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: var(--amarelo);
    color: var(--azul-escuro);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cadastrar:hover {
    background: var(--amarelo);
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: var(--marrom);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
